.form_container{
    background-color: white;
    width: 350px;
    height: 200px;
    text-align: center;
    padding: 8px;
    border-radius: 14px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -175px;
    border: solid;
}

.form_input {
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}

.form_button {
    background-color: #4CAF50;
    color: #ffffff;
    border-color: #4CAF50;
    width: 80px;
    height: 30px;
}